In [7]:
%%writefile datos.csv
nombre;pais;telefono
Mcdonald, Bertha V.;Tonga;16590927 3665
Gay, Quynn Y.;Côte D'Ivoire (Ivory Coast);16230713 0019
Hartman, Samson S.;Turkey;16260322 7477
Mckay, Brennan Z.;Åland Islands;16941114 8308
Daugherty, Ann H.;Venezuela;16180422 9555
Justice, George F.;United Arab Emirates;16630629 5806
Bailey, Jacqueline S.;Timor-Leste;16390230 5097
Sears, Sawyer X.;Montserrat;16510427 2249
Townsend, Stephen K.;Pitcairn Islands;16570616 8084
Barrett, Howard L.;Uzbekistan;16000221 2991
Kim, Xanthus P.;New Caledonia;16191009 2806
Hurst, Coby M.;Montenegro;16740102 8910

Writing datos.csv

In [18]:
def csv2sql(infile, outfile):
    x= open(infile).readlines()
    x=[y[:-1] if y[-1] == '\n' else y for y in x]
    encabezado = x[0]
    cuerpo = x[1:]

    encabezado = '(' + encabezado.replace(';', ',') +')'
    #listo encabezado

    cuerpo = ['("' + y.replace(';', '","') + '")' for y in cuerpo]

    cuerpo ='    '+ ',\n    '.join(cuerpo) + ';'

    with open(outfile, 'w') as f:
        
        f.write(' INSERT INTO tbl1 ' + encabezado + ' VALUES\n')
        f.write(cuerpo)
    
csv2sql(infile='datos.csv', outfile='punto1.txt')

In [23]:
%%writefile transformacion.csv
nombre;pais;telefono
Mcdonald, Bertha V.;Tonga;16590927 3665
Gay, Quynn Y.;Côte D'Ivoire (Ivory Coast);16230713 0019
Hartman, Samson S.;Turkey;16260322 7477
Mckay, Brennan Z.;Åland Islands;16941114 8308
Daugherty, Ann H.;Venezuela;16180422 9555
Justice, George F.;United Arab Emirates;16630629 5806
Bailey, Jacqueline S.;Timor-Leste;16390230 5097
Sears, Sawyer X.;Montserrat;16510427 2249
Townsend, Stephen K.;Pitcairn Islands;16570616 8084
Barrett, Howard L.;Uzbekistan;16000221 2991
Kim, Xanthus P.;New Caledonia;16191009 2806
Hurst, Coby M.;Montenegro;16740102 8910

Writing transformacion.csv

In [94]:
def csv2sql(infile, outfile):
    x= open(infile).readlines()
    x=[y[:-1] if y[-1] == '\n' else y for y in x]
    encabezado = x[0]
    cuerpo = x[1:]

    encabezado = '    <th>' + encabezado.replace(';', '</th>''\n''    <th>') +'</th>''\n''</tr>'
    #listo encabezado
    
    cuerpo = ['<td>' + y.replace(';', '</td>''\n''    <th>') + '</th>''\n''</tr>''\n''<tr>' for y in cuerpo]

    cuerpo ='<tr>\n    '+ ',\n    '.join(cuerpo) + ';'
    
    with open(outfile, 'w') as f:

        f.write(' <table cellpadding="1" cellspacing="1">\n ' + '<tr>\n' +  encabezado + '\n')
        f.write(cuerpo)
    
csv2sql(infile='transformacion.csv', outfile='punto2.txt')

In [95]:
!type punto2.txt

 <table cellpadding="1" cellspacing="1">
 <tr>
    <th>nombre</th>
    <th>pais</th>
    <th>telefono</th>
</tr>
<tr>
    <td>Mcdonald, Bertha V.</td>
    <th>Tonga</td>
    <th>16590927 3665</th>
</tr>
<tr>,
    <td>Gay, Quynn Y.</td>
    <th>CÃ´te D'Ivoire (Ivory Coast)</td>
    <th>16230713 0019</th>
</tr>
<tr>,
    <td>Hartman, Samson S.</td>
    <th>Turkey</td>
    <th>16260322 7477</th>
</tr>
<tr>,
    <td>Mckay, Brennan Z.</td>
    <th>Ã…land Islands</td>
    <th>16941114 8308</th>
</tr>
<tr>,
    <td>Daugherty, Ann H.</td>
    <th>Venezuela</td>
    <th>16180422 9555</th>
</tr>
<tr>,
    <td>Justice, George F.</td>
    <th>United Arab Emirates</td>
    <th>16630629 5806</th>
</tr>
<tr>,
    <td>Bailey, Jacqueline S.</td>
    <th>Timor-Leste</td>
    <th>16390230 5097</th>
</tr>
<tr>,
    <td>Sears, Sawyer X.</td>
    <th>Montserrat</td>
    <th>16510427 2249</th>
</tr>
<tr>,
    <td>Townsend, Stephen K.</td>
    <th>Pitcairn Islands</td>
    <th>16570616 8084</th>
</tr>
<tr>,
    <td>Barrett, Howard L.</td>
    <th>Uzbekistan</td>
    <th>16000221 2991</th>
</tr>
<tr>,
    <td>Kim, Xanthus P.</td>
    <th>New Caledonia</td>
    <th>16191009 2806</th>
</tr>
<tr>,
    <td>Hurst, Coby M.</td>
    <th>Montenegro</td>
    <th>16740102 8910</th>
</tr>
<tr>;